body {
    background-color:SandyBrown;
    color:white;
    font-family:sans-serif;
    text-align:center;
    font-size:40 px;
}

h1{
    font-family:sans-serif;
    font-size:30 px;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
    align: center;
  display: table;
}
